<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxKyHo5x9CMtnlt2KkfIDIVC8bfdKAPII</string>
	<key>GCM_SENDER_ID</key>
	<string>469810509092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radmize.First-one-Storyboard</string>
	<key>PROJECT_ID</key>
	<string>kama-diesel-tech-support-d5ece</string>
	<key>STORAGE_BUCKET</key>
	<string>kama-diesel-tech-support-d5ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469810509092:ios:6b4d4a60e83247027b2fb1</string>
</dict>
</plist>